@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    width: 15%;
    height: 15%;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 200px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #FCF6F5FF;
}

#cover-text h2{
    font-family: Zilla Slab, sans-serif;
    color:#E0C568FF;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url('../images/main_image.jpg') no-repeat center center;
    background-size: cover;
    animation-name: main-image;
    animation-duration: 40s;
  }
  
  @keyframes main-image {
    0%   {background: url('../images/main_image.jpg') no-repeat center center; background-size: cover;}
    33%  {background: url('../images/main_image_2.jpg') no-repeat center center; background-size: cover;}
    66%  {background: url('../images/main_image_3.jpg') no-repeat center center; background-size: cover;}
  }

  #cover-text {
    font-size: 170%;
    font-family: Sacramento, sans-serif;
    
    letter-spacing: 4px;
    text-align: center;

    width: 500px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(153, 0, 17, 0.7);

    bottom: 20%;
    right: 38%;

    position: absolute;
}

/* Our Quality */


#cow {
    padding-top: 30px;
    width: 35%;
    height: 150px;
    
    
   
}

#cow-text{
    width: 50%;
    display: inline-block;
    margin-top: 50px;
    
}

.img-container{
    width: 50%;    
    float: right;
    
}

#milking {
    padding-top: 30px;
    width: 35%;
    margin-left: 20%;
    height: 150px;
    
}

#milking-text{
    width: 50%;
    display: inline-block;
    margin-top: 50px;
    
}

#cream {
    padding-top: 30px;
    width: 35%;
    margin-left: 40%;
    height: 150px;
}

#cream-text{
    width: 50%;
    display: inline-block;
    margin-top: 50px;
    
}

#ice-cream {
    padding-top: 30px;
    width: 25%;
    margin-left: 60%;
    height: 150px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}



#our-quality {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

.circle-container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    
    
}

#cow-img {
    background: url('../images/cow.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#milk-img {
    background: url('../images/cow_milk.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#cream-img {
    background: url('../images/fresh_cream.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

#icecream-img {
    background: url('../images/icecream_production.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}